$font-color: #2c2c2c;
$navbar-background: linear-gradient(#393f56,#272b3a);
$background-color: #FDFFFD;
$background-search-bar: #f0f0f0;
$color-search-bar: #777777;


$primary-color: #32374C;
$secondary-color: #56626C;
$positive-color: #3dae23;
$negative-color: #d0021b;
$blue-color: #1487fb;
