@use "../colors";

@mixin centerContent(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 20px;
    position: fixed;
    height: 100vh;
    width: 60px;
    background-image: colors.$navbar-background;

    &__first-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 60%;
    }

    &__expand-icon{
        @include centerContent();
        img{
            transform: rotate(180deg);
            width: 15px;
        }
    }
    &__picture-profile {
        @include centerContent();
        img{
            width: 25px;
        }
    }
    &__options{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        &-item{
            @include centerContent();
            img{
                width: 20px;
            }
        }
    }

    &__settings{
        @include centerContent();
        img{
            width: 15px;
        }
    }


}

